<!--
  Generated template for the AsianetHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title class="sampleFont">Asianet Home Page</ion-title>
  </ion-navbar>
  <!-- Stackover flow
  https://stackoverflow.com/questions/45157896/ionic-horizontal-scroll-tab-for-categories
 -->
  <!-- <ion-toolbar>
    <ion-row class="filters">
        <ion-col class="col-with-arrow" (click)="slidePrev()" no-padding col-1>
            <ion-icon *ngIf="showLeftButton" name="arrow-back"></ion-icon>
        </ion-col>
        <ion-col no-padding col-10>
            <ion-slides (ionSlideDidChange)="slideChanged()" slidesPerView="3">
                <ion-slide (click)="filterData(category.id)" *ngFor="let category of categories">
                    <p [class.selected]="selectedCategory?.id === category.id">{{ category.name }}</p>
                </ion-slide>
            </ion-slides>
        </ion-col>
        <ion-col class="col-with-arrow" (click)="slideNext()" no-padding col-1>
            <ion-icon *ngIf="showRightButton" name="arrow-forward"></ion-icon>
        </ion-col>
    </ion-row>

</ion-toolbar> -->


  <!-- <ion-toolbar>
    

    <ion-row class="filters">
   
        <button ion-button (click)="onClickTankCleanBtn()" > WATER TANK CLEANING </button>
        <button ion-button (click)="onClickWaterProofBtn()" > WATER PROOFING </button>
        <button ion-button (click)="onClickFloorCleanBtn()"> FLOOR CLEANING</button>
        <button ion-button> SEWAGE & STP TANK CLEANING </button>
        <button ion-button> SOLAR CLEANING SERVICES</button>
        
    </ion-row>

</ion-toolbar> -->
  <!-- <ion-toolbar>
    <ion-scroll scrollX="true">
  <ion-row>
    <ion-col>

      <button ion-button> WATER TANK CLEANING </button>
    </ion-col>
    <ion-col>

      <button ion-button> SEWAGE & STP TANK CLEANING </button>
    </ion-col>
      <button ion-button> WATER PROOFING </button>
      <button ion-button> FLOOR CLEANING</button>
      <button ion-button> SOLAR CLEANING SERVICES</button>
  </ion-row>
</ion-scroll>
</ion-toolbar> -->


</ion-header>
<!-- 
<ion-content>

    <ion-card (tap)="navCategoryAndPricesPage()" >
      <ion-card-content>
  <ion-scroll scrollX="true" style="white-space: nowrap; height: 300px;">
    <img src="https://www.truneto.com/images/services/thumb/384x250/water-tank-cleaning.jpg">
    <img src="https://www.truneto.com/images/services/thumb/384x250/water-tank-cleaning.jpg">
    <img src="https://www.truneto.com/images/services/thumb/384x250/water-tank-cleaning.jpg">
    <img src="https://www.truneto.com/images/services/thumb/384x250/water-tank-cleaning.jpg">
    <img src="https://www.truneto.com/images/services/thumb/384x250/water-tank-cleaning.jpg">    
  </ion-scroll>
  </ion-card-content>

  </ion-card>

</ion-content> -->




<ion-content class="serviceDivisionListCard">
  <ion-card (tap)="navCategoryAndPricesPage()">
    <ion-item>
      <ion-card-title>
        Domestic
      </ion-card-title>
      <ion-card-content class="mycardList">
        <ion-scroll scrollX="true" style="height: 200px;">
          <ion-list>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="http://www.asianetbangalore.com/images/water-tank-cleaning-services-02.jpg">
              </ion-thumbnail>
              <label>
                  Underground Tank Cleaning
              </label>
            </ion-item>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="https://www.truneto.com/images/services/thumb/384x250/water-tank-cleaning.jpg">
              </ion-thumbnail>
              <label>
                Overtank Cleaning
              </label>
            </ion-item>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="http://www.asianetbangalore.com/images/water-tank-cleaning-services-02.jpg">
              </ion-thumbnail>
              <label>
                Underground Watetank cleaning
              </label>
            </ion-item>
           
          </ion-list>
        </ion-scroll>
      </ion-card-content>
    </ion-item>
  </ion-card>

  <ion-card (tap)="navCategoryAndPricesPage()">
    <ion-item>
      <ion-card-title>
          Commercial
      </ion-card-title>
      <ion-card-content class="mycardList">
        <ion-scroll scrollX="true" style="height: 200px;">
          <ion-list>
            <!-- <ion-item>
              <ion-thumbnail item-start>
                <img src="http://www.asianetbangalore.com/images/water-tank-cleaning-services-02.jpg">
              </ion-thumbnail>
              <label>
                  Under-Ground
              </label>
            </ion-item>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="https://www.truneto.com/images/services/thumb/384x250/water-tank-cleaning.jpg">
              </ion-thumbnail>
              <label>
                Overhead Tanks
              </label>
            </ion-item>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="http://www.asianetbangalore.com/images/water-tank-cleaning-services-02.jpg">
              </ion-thumbnail>
              <label>
                  Raw Water Tank
              </label>
            </ion-item>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="http://www.asianetbangalore.com/images/water-tank-cleaning-services-02.jpg">
              </ion-thumbnail>
              <label>
                  Domestic Tank
              </label>
            </ion-item>-->
            <ion-item>
              <ion-thumbnail item-start>
                <img src="http://www.asianetbangalore.com/images/water-tank-cleaning-services-02.jpg">
              </ion-thumbnail>
              <label>
                  Treated Tank
              </label>
            </ion-item> 
            <ion-item>
              <ion-thumbnail item-start>
                <img src="http://www.pacificgroupdevelopments.com/sites/default/files/images/secondary/DSC03125.JPG">
              </ion-thumbnail>
              <label>
                  Flush Tank
              </label>
            </ion-item>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="http://www.asianetbangalore.com/images/water-tank-cleaning-services-02.jpg">
              </ion-thumbnail>
              <label>
                  HVAC Tank
              </label>
            </ion-item>
           
          </ion-list>
        </ion-scroll>
      </ion-card-content>
    </ion-item>
  </ion-card>

  <ion-card>

    <ion-card-header>
     
    </ion-card-header>

    <ion-card-content>
      sub-list
      <div>
        Commercial sub 1
      </div>
      <div>Commercial sub 2</div>
    </ion-card-content>

  </ion-card>

  <!-- ------------------------------------------ | -->
  <ion-card>

    <ion-card-header>
      
    </ion-card-header>

    <ion-card-content>
      sub-list
      <div>
        Well cleaning sub 1
      </div>
      <div>Well cleaning sub 2</div>
    </ion-card-content>

  </ion-card>
  <ion-card>

    <ion-card-header>
      Jet Lorry
    </ion-card-header>

    <ion-card-content>
      sub-list
      <div>
        Jet lorry cleaning sub 1
      </div>
      <div>Jet lorry cleaning sub 2</div>
    </ion-card-content>

  </ion-card>
</ion-content>

<!-- <ion-footer padding>
<p> The Footer</p>
</ion-footer> -->
