<!--
  Generated template for the AsianetHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">

    <ion-buttons >
      <button ion-button menuToggle >
        <!-- // TODO external styling. -->
        <ion-icon name="menu"  style="padding-top: 20px;"> </ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="sampleFont">Asianet Group</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card class="serviceListCard" *ngFor="let service of homePageData">
    <ion-item>
      <ion-card-title>
        {{service.category_name}}
      </ion-card-title>
      <ion-card-content class="mycardList">
        <ion-scroll scrollX="true" style="height: 200px;">
          <ion-grid>
            <ion-row align-items-start>
              <ion-list class="divisionListCard">
                <ion-col text-wrap *ngFor="let division of service.subcategory">
                  <ion-item>
                    <ion-card (tap)="goToCategoryAndPricesPage(division)">
                      <ion-item>
                        <ion-thumbnail item-start>
                          <img src="http://www.asianetbangalore.com/images/water-tank-cleaning-services-02.jpg">
                        </ion-thumbnail>
                        <label>
                          {{division.sub_categoryname}}
                        </label>
                      </ion-item>
                    </ion-card>
                  </ion-item>
                </ion-col>
              </ion-list>
            </ion-row>
          </ion-grid>
        </ion-scroll>
      </ion-card-content>
    </ion-item>
  </ion-card>
  <!-- ------------------------------------------ | -->
</ion-content>

<!-- <ion-footer padding>
<p> The Footer</p>
</ion-footer> -->
